@import 'tailwindcss';

/* @font-face{
  font-family: 'Tazman';
  src: url('./src/assets/Gilo.otf');
}

@theme{
  --font-tazman: 'Tazman';
}

.font-tazman{
  font-family: var(--font-tazman)
} */

body {
  @apply box-border bg-gray-50;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* for all */
.container-label {
  @apply pb-2 text-[2rem] tracking-wide uppercase font-bold bg-gradient-to-br from-indigo-500 to-blue-600 bg-clip-text text-transparent max-[890px]:text-[1.5rem];
}
/* for all */

/* header */
.header-div {
  @apply bg-gradient-to-br from-indigo-500 to-blue-600 font-bold text-white tracking-wide py-5 shadow-2xl;
}

.header-div > h1 {
  @apply text-5xl pt-3 text-center max-[1040px]:text-4xl max-[605px]:text-3xl max-[500px]:text-2xl max-[380px]:text-[1.3rem];
}
/* header */

/* additems */
.add-items-divs {
  @apply flex flex-col gap-1 max-[605px]:col-span-2  max-[605px]:justify-between max-[605px]:w-full max-[605px]:gap-0;
}

.add-items-divs > label {
  @apply text-gray-600 font-medium text-[0.8rem];
}

.budget-button {
  @apply max-[605px]:w-full bg-gradient-to-br from-indigo-500 to-blue-600 py-2 px-10 rounded font-semibold text-white max-[1110px]:px-5 max-[605px]:rounded-lg;
}

.clear-button {
  @apply bg-gradient-to-r from-red-500 to-red-700 hover:from-red-600 hover:to-red-800 py-2 px-10 rounded font-semibold text-white max-[1110px]:px-5 max-[605px]:w-full;
}

.add-items-fieldset {
  @apply max-[605px]:w-full border border-gray-300 focus:border-blue-400 focus:ring-1 focus:ring-blue-400 rounded-lg px-3 py-2 text-gray-800 outline-none transition;
}

.add-item-button {
  @apply bg-gradient-to-br from-indigo-500 to-blue-600 w-full hover:bg-gradient-to-tl text-white font-semibold py-2 px-6 rounded-lg shadow duration-200;
}

.add-item-clear {
  @apply bg-white w-full border-1 border-gray-200 hover:bg-gray-600/10 text-black font-semibold py-2 px-6 rounded-lg shadow-lg duration-200;
}
/* additems */

/* budget */

.budget-div {
  @apply bg-gradient-to-br from-indigo-500 to-blue-600 p-4 rounded-2xl px-5 shadow-xl;
}

.remaining-budget-div {
  @apply p-4 rounded-2xl px-5 shadow-xl;
}

.budget-h3 {
  @apply text-[1rem] text-[white] max-[1450px]:text-[0.9rem] max-[605px]:mb-1 max-[455px]:text-[0.8rem];
}

.budget-value {
  @apply -mt-4 text-[3rem] max-[890px]:-mt-4 max-[890px]:text-[2.5rem] w-full [&::-webkit-inner-spin-button]:appearance-none outline-none font-bold text-white tracking-wide max-[455px]:text-[2rem];
}

.budget-quantity-div {
  @apply bg-gradient-to-br from-indigo-500 to-blue-600 p-4 rounded-2xl px-3 shadow-xl;
}

.budget-quantity {
  @apply text-[2rem] -mt-1 text-center max-[455px]:text-[1.8rem] max-[605px]:-mt-3;
}
/* budget */

/* content */
.add-items-div {
  @apply w-6/10 bg-white rounded-2xl max-[500px]:rounded-none shadow-2xl p-6 px-10 max-[1220px]:w-11/20 max-[1110px]:w-1/2 max-[1040px]:w-full max-[605px]:px-6;
}

.content-header {
  @apply grid grid-cols-19 font-bold border-b-1 border-blue-600 uppercase items-center pt-2 pb-2 px-2 mb-2 gap-2 max-[1040px]:hidden;
}

.content-header > div {
  @apply font-semibold;
}

.content-div {
  @apply bg-gradient-to-br from-indigo-500 to-blue-600 w-2/3 py-2 px-2 flex justify-center rounded font-semibold text-white text-[1rem];
}

.content-select {
  @apply outline-none uppercase w-full;
}
.content-option {
  @apply text-black bg-blue-300 font-semibold border-t-2;
}

.content-clear {
  @apply w-1/3 text-[1rem] px-5 bg-gradient-to-r from-red-500 to-red-700 hover:from-red-600 hover:to-red-800 py-2 rounded font-semibold text-white max-[1300px]:text-[0.9rem];
}
/* content */

/* items lists */
.items-list-clear {
  @apply ml-1 text-center bg-[red] self-center rounded-[5px] text-white py-1 px-3 w-[max-content] cursor-pointer;
}
.items-list-mark-button {
  @apply text-center w-[max-content] py-1 px-3 self-center rounded-[5px] text-white cursor-pointer;
}
/* items lists */
